<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <fieldset style="width:300px">
        <legend>Personal Data</legend>

        <label>
            Name
            <input type="text" name="name" placeholder="Name">
        </label>
        <br>
        <label>
            Email
            <input type="email" name="email" placeholder="Email">
        </label>
        <br>
        <label>
            Phone
            <input type="number" name="phone" placeholder="Phone">
        </label>
    </fieldset>
    <fieldset style="width:300px">
        <legend>Event Info</legend>
        <label>
            Event type
            
        </label>
        <label>
            Event type
            <select name="" id="">
                <option value="birthday">Birthday</option>
                <option value="wedding"selected="selected">Wedding</option>
                <option value="company">Company</option>
            </select>
        </label>
        <br>
        <label for="">
            Guests number
            <input type="number" name="guestnumber" placeholder="Example:100">
        </label>
    </fieldset>

    <br>

    <h1>Post scheduler</h1>
    <form action="#" style="width:330px;">
        <label>
            Post title:
            <input type="text">
        </label>
        <br>
        <label>
            Publish post on:
            <input type="date">
        </label>
        <br>
        <label for="">
            Content URL
            <input type="url">
        </label>
        <br>
        <label for="">
            Email
            <input type="email">
        </label>
        <br>
        <button type="submit">Send</button>
    </form>
    <br>
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/eKTlSYR0z3E" frameborder="0" allowfullscreen></iframe>

</body>
</html>